# Object file
*.o

# Ada Library Information
*.ali
/.metadata/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.metadata/

# Executables
*.swf
*.air
*.ipa
*.apk